.container{
    background: linear-gradient(to bottom, rgb(60, 120, 23) 0%, rgb(60, 137, 24) 100%);
    margin: 0px auto;
    margin-bottom: 10px;

}    
.tittle{
    font-size: 30px;
    text-align: center;
    align-content: center;
    width: 300px;
    
}
.back-tittle{
    display: flex;
    justify-content: center;
    color: rgb(240, 214, 167)
     
}
.subcontainer{
    display: flex;
    justify-content: center;
}

